/* COLORS
accent: #ff07ac
background: #161f28
title, body: #34495e */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --body-min-padding: 7rem;
}

@media screen and (max-width: 425px) {
  :root {
    --body-min-padding: 1.5rem;
  }
}

/* Layout basics */
body {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  min-height: 100vh;
  max-width: 70rem;

  box-sizing: content-box;
  padding: 0 var(--body-min-padding);
}

header,
main {
  width: 100%;
  margin-top: 2rem;
}

/* Basic styling */
body {
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.6;
  font-weight: 400;
  color: #34495e;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin-left: 25px;
}

section > * {
  margin-bottom: 2rem;
}

/* Typography */
h1,
h2,
h3 {
  margin-bottom: 2rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}

/* Snippets */
.hidden {
  display: none;
}
.text-centered {
  text-align: center;
}

/* NAVIGATION */
.nav-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.buttn {
  display: flex;
  align-items: center;

  padding: 5px;
  border-radius: 8px;

  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;

  cursor: pointer;
}
.buttn-primary,
.buttn-primary.negative:hover {
  background-color: #ff07ac;
  color: #fafafa;
  border: 1px solid #ff07ac;
}
.buttn-primary:hover,
.buttn-primary.negative {
  color: #ff07ac;
  background-color: #fafafa;
  border: 1px solid #ff07ac;
}
.buttn-secondary {
  background-color: #fff;
  color: #34495e;
  border: #34495e solid 1px;

  text-transform: none;
}

/*         ***********         */
/* INDICE */
#indice {
  max-width: 30rem;
  margin: 0 auto;
}

.argomento {
  /* justify-content: flex-start; */
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

.argomento:hover {
  background-color: #34495e;
  color: #fff;
  box-shadow: 1px 1px 2px #34495e;
}

#to-resources {
  background: rgb(36, 133, 165);
  background: linear-gradient(
    45deg,
    rgba(36, 133, 165, 1) 35%,
    rgba(25, 218, 163, 1) 100%
  );
  color: #fff;
  justify-content: center;
}
/* TEORIA */

#arrow-left,
#arrow-right {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#arrow-left.hidden,
#arrow-right.hidden {
  display: block;
  visibility: hidden;
}

/* QUIZ */
.box-risposte {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.risposta {
  grid-column: span 1;
}

.correct-ans {
  background-color: #7dd56f;
  color: #222;
  border: #7dd56f solid 1px;
}
.incorrect-ans {
  background-color: #fc4c4c;
  color: #eee;
  border: #fc4c4c solid 1px;
}

/* RISORSE */

#risorse {
  align-items: flex-start;
}

#risorse a {
  text-decoration: none;
  color: #ff07ac;
}
.risorsa {
  display: flex;
}
.risorsa img {
  min-width: 150px;
  max-width: 150px;
  height: 150px;
  box-shadow: 0px 0px 2px #34495e;
  border-radius: 8px;
  object-fit: cover;
}
.testo_risorsa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
}
#risorse .testo_risorsa a {
  font-size: 20px;
}
.source-code {
  font-size: 14px;
}
